<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData:cached=true}/NLogConfigSample/Log"/>
  <variable name="defaultLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ff} [${level:format=FirstCharacter}] ${processid} ${logger} ${message} ${exception:format=tostring}"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />
    <!-- Using this low size just for testing purpose: archiveAboveSize="10000" = 10kB -->
    <target name="fileTarget" xsi:type="File" fileName="${logDirectory}/Application.log" layout="${defaultLayout}" archiveAboveSize="10000" maxArchiveFiles="1" archiveNumbering="rolling"/>
    <target name="traceTarget" xsi:type="Trace" rawWrite="true" layout="${defaultLayout}"/>
  </targets>

  <rules>
    <logger name="NLogConfigSample" minlevel="Trace" writeTo="fileTarget,traceTarget" />
    <logger name="SampleLibrary" minlevel="Trace" writeTo="fileTarget,traceTarget" />
  </rules>
</nlog>
