<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      useInvariantCulture="true" throwConfigExceptions="true">
  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData:cached=true}/NLogConfigSample/Log"/>
  <variable name="defaultLayout" value="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.ff} [${level:format=FirstCharacter}] ${processid} ${logger} ${message} ${exception}"/>  

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />
    <!-- 1. Using this low size just for testing purpose: archiveAboveSize="10000" = 10kB 
         2. concurrentWrites is not supported on all platforms! https://github.com/NLog/NLog/wiki/File-target  -->
    <target name="fileTarget" xsi:type="AtomFile" fileName="${logDirectory}/Application.log" layout="${defaultLayout}" archiveAboveSize="10000" maxArchiveFiles="2" />
    <target name="traceTarget" xsi:type="Trace" rawWrite="true" layout="${defaultLayout}"/>
  </targets>

  <rules>
    <logger name="NLogConfigSample" minlevel="Trace" writeTo="fileTarget,traceTarget" />
    <logger name="SampleLibrary" minlevel="Trace" writeTo="fileTarget,traceTarget" />
    <logger name="SampleLibrary2" minlevel="Trace" writeTo="fileTarget,traceTarget" />
  </rules>
</nlog>
